{% extends "layout.html" %}

{% block title %}
Balance
{% endblock %}

{% block main %}
<form action="/balance" method="post">
    <div class="mb-3">
        <h4>Your current balance:</h4>
       <strong>{{balance_cash | usd}}</strong>
    </div>
    <div class="mb-3">
        <h6>Add cash to your balance:</h6>
        <input autocomplete="off" autofocus="" name="add" placeholder="Add $" type="text">
    </div>
    <p>Add cents with (.) 0.50</p>
    <button class="btn btn-primary" type="submit">Add Cash</button>
</form>
{% endblock %}